body {
    font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.navigation-logo {
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.service-info-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}


.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


h1 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


h2 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.service-container {}

h3 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h4 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h5 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h6 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


.logo {
    color: #4D5AE5;
}


.header-nav-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-active::after {
    content: '';
    display: block;
    height: 4px;
    background-color: #404BBF;
    position: relative;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-active {
    color: #404bbf;
}

.header-nav-text::after {
    width: 100%;
    color: #404BBF;
}

.header-nav {
    gap: 40px;
}

.title {
    color: #2e2f42;
}

.logo,
.title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}


.header-contact-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-section {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
}

.order-button {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    margin-left: 164px;
    margin-right: 164px;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-section-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 496px;
}

.order-section-container {
    width: 600px;
}

.main-button {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:active {
    color: #404BBF;
}

.header-address {
    font-style: normal;
    margin-left: 292px;
}

.header-links {
    display: flex;
    gap: 40px;
}

.service-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.service-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {}

.service-info-container {
    gap: 24px;
}

.service-info {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.team-text {
    text-align: center;
    padding: 32px 16px;
    padding: 32px 0;
}

.team-text>p {
    margin-top: 8px;
}



.display-flex {
    display: flex;
    align-items: center;
}

.team-info-container {
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.portfolio-pictures-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 24px;
}

.portfolio-text {
    padding: 32px 16px;
}

.portfolio-text>p {
    margin-top: 8px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.header-nav {
    display: flex;
}

.team-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-container {
    border-top: none;
}

.portfolio-pictures-element {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pictures-element:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-slide-text:hover {
    transform: translateY(0%);
}


.team-info {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-info-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.row-gap {
    row-gap: 48px;
}


.portfolio-text {
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-element {
    margin-bottom: 8px;
}

.portfolio-element {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-element-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo:focus {
    background-color: #31d0aa;
}


.footer-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-logo-container {
    margin-right: 120px;
}



.navigation-logo {}

.header-nav-text {
    padding: 24px 0;
    display: block;
}


button {
    cursor: pointer;
}

.portfolio-slide {
    position: relative;
    overflow: hidden;
}


.portfolio-slide-text {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-info-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-info-element {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404bbf;
}




.team-info-contact {
    fill: #f4f4fd;
}

.footer-social-medial {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-item {
    display: flex;
    gap: 16px;
}

.footer-info-element {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:focus,
.footer-social-link:hover {
    background-color: #31d0aa;
}


.footer-info-contact {
    fill: #f4f4fd;
}